:root {
  --ff-Montserrat: "Montserrat", sans-serif;
  --box-gray: #f2f2f2;
  --btn-gray: hsl(0, 0%, 88%);
  --btn-symbol-gray: hsl(0, 0%, 51%);
  --primary: #f2994a;
  --container-width: min(100%, 40rem);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  font-family: var(--ff-Montserrat);
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: auto;
  padding: 2.4rem 0;
}

.footer-text {
  font: 1.4rem var(--ff-Montserrat);
  color: #bdbdbd;
  text-align: center;
}

main {
  padding: 0 1.2rem;
}

main div > h1 {
  color: #4e5150;
  font-size: clamp(2.4rem, 4vw + 0.5rem, 3.6rem);
  padding: min(6.4rem, 8.6vw) 0;
}

.content-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.item-total {
  background-color: var(--box-gray);
  border-radius: 12px;
  padding: 3rem 1rem 1rem;
  width: var(--container-width);
  height: fit-content;
}

.item-img {
  border-radius: 12px;
  width: 100%;
}

.img-wrapper {
  width: 70%;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
  justify-items: center;
}

.item-price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-price-container h5 {
  font-size: clamp(1.2rem, 2vw + 0.5rem, 1.6rem);
  font-weight: 600;
  color: #4e5150;
  margin-bottom: 1rem;
}

.item-price-container :first-child :nth-child(2) {
  font-size: clamp(1.2rem, 2vw + 0.5rem, 1.6rem);
  color: var(--primary);
  padding-right: 1em;
}

.item-price-container :first-child :nth-child(3) {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.2rem);
  padding-right: 1em;
  color: #4e5150;
  text-decoration: line-through;
}

input[type="number"] {
  width: 24px;
  appearance: none;
  padding-left: 6px;
  -moz-appearance: textfield;
  background-color: var();
  border: none;
  background-color: var(--box-gray);
  color: #333333;
  font: 1.6rem var(--ff-Montserrat);
  font-weight: 600;
  cursor:default;
}

input[type="number"]:focus{
  outline: none;
}

.stepper-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #828282;
  border-radius: 8px;
  width: 12rem;
  padding: 1.5rem;
}

.increment,
.decrement {
  background-color: var(--btn-gray);
  color: var(--btn-symbol-gray);
  border: none;
  font-size: 2rem;
  border-radius: 6px;
  width: 24px;
}

.increment:hover,
.decrement:hover {
  cursor: pointer;
}

hr {
  height: 1px;
  background-color: #bdbdbd;
  border: 0;
}

.cost-wrapper {
  margin-top: 8rem;
}

.cost-container {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  font-size: 1.4rem;
  color: #333333;
}

.contact-info {
  margin-top: 4rem;
}

.contact-info h2 {
  font-size: clamp(1.4rem, 2vw + 0.5rem, 1.8rem);
}

.form-element {
  margin-block: 1.5rem;
  position: relative;
  color: #828282;
}

.form-element label {
  display: block;
  font-size: clamp(1rem, 2vw + 0.5rem, 1.2rem);
  color: #4f4f4f;
}

.form-element input,
.form-element select {
  width: var(--container-width);
  height: 4rem;
  border-radius: 8px;
  border: 1px solid #828282;
  padding-left: 35px;
  font-family: var(--ff-Montserrat);
  margin-top: 0.3rem;
}

.form-element input:focus {
  accent-color: var(--primary);
  border: none;
}

.form-element select{
  background-color: #fff;
  color: #828282;
  
}

.form-element option{
  color: var(--primary);
  background-color: white;
}

.form-element option:hover{
  background-color:var(--primary) ;
  color: white;
}

.form-element span {
  position: absolute;
  left: 0;
  bottom: 16%;
  padding: 0 5px;
}

form h2 {
  margin-top: min(6rem, 12vw);
}

.form-element-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: var(--container-width);
}

.form-element-wrapper .form-element {
  margin-block: 0;
}

input[type="checkbox"] {
  width: revert;
  accent-color: var(--primary);
}

form > .form-element:nth-last-child(2) {
  padding-left: 0.5rem;
  display: grid;
  grid-template-columns: 2rem auto;
  gap:1rem;
  align-items: center;
  font-size: clamp(1rem, 2vw + 0.5rem, 1.2rem);
}

form > .form-element:last-child{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  width: var(--container-width);
}

form > .form-element:last-child input {
  background-color: var(--primary);
  cursor: pointer;
  padding: revert;
  color:white;
  border: none;
}

label[for="info"]{
  color: #4F4F4F;
}

@media (min-width:64em) {
  .item-total-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .contact-info{
    margin-top:revert;
  }
}
